body{
    background-color: aquamarine;
    text-align: center
}

section {
    text-align: left;
    padding: 15px;
    background-color: red;
}

#inputDiv{
    padding-left: 15px;
}

#outputDiv{
    padding-top: 15px;
}

.doneTask {
    background-color: greenyellow;
    padding: 15px;
}

